.chatterTitle {
    padding: 15px;
    border-bottom: 1px solid var(--primary-light-color);
}

.chatterMessageComposer .chatterMessageInput {
    background-color: var(--solid-chatter-input-bg);
    border: 1px solid var(--primary-light-color);
}

.chatterMessageComposer .chatterMessageInput::placeholder {
    color: var(--solid-chatter-input-placeholder);
}

.chatterEmails {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.emailTooltipIcon {
    position: relative;
}

.emailsTooltip {
    visibility: hidden;
    position: absolute;
    right: 0px !important;
    top: 1;
    background-color: var(--surface-a);
    border: 1px solid var(--primary-light-color);
    padding: 8px;
    border-radius: 8px !important;
    min-width: 200;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.emailTooltipIcon:hover .emailsTooltip {
    visibility: visible !important;
}

.chatterDatetimeDivider {
    border-top: 1px dashed var(--solid-chatter-dash);
    position: relative;
    margin: 30px 0;
}

.chatterDividerContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6.25rem;
    border: 1px solid var(--solid-chatter-date-border);
    background: var(--highlight-bg-secondary);
    padding: 0.25rem 0.5rem;
    text-wrap: nowrap;
    font-size: 0.625rem;
    font-weight: 600;
    color: var(--secondary-dark-color);
}

.solidMessageWrapper {
    border: 1px solid var(--primary-light-color);
    padding: 10px;
    border-radius: 0.25rem;
    width: 100%;
}